<% form_tag(session_url) do %>
<fieldset class="cmxform">
<p>
  <label for="openid_identifier">OpenID:</label>
  <%= text_field_tag "openid_identifier", '', :size=>40 %>
</p>

<p>
  <%= submit_tag 'ログイン', :disable_with => "Signing in&hellip;", :class=>"submit" %>
</p>
<% end %>
