#sniper_help.none 画像の破壊は評価で行われます
= image_tag "dustbox/icon.jpg", :alt=>"プギャーマイマイ", :id=>"sniper", :class=>"sniper", :onmouseover=>"$('#sniper_help').show();", :onmouseout=>"$('#sniper_help').hide();"
