<%# -*- coding:utf-8-unix -*- -%>

<div class="box-curve-bar-lb">
<h2><span class="title">最近の人気画像</span></h2>
</div>

<%= render :partial=>"image/list" %>

<div class="box-curve-bar-lb">
<h2><span class="title">最近の人気スレ</span></h2>
</div>

<%= render :partial=>"board/list" %>

